<% provide(:title, "Help") %>

	<div class="jumbotron">
	<div class="container">
		<div class="row">
		<div class="text-center">
			<div class="header-content">
			<div class="header-content-inner">
				<h1>Help</h1>
				<p>  Get help on the Ruby on Rails Tutorial at the
				<a href="http://railstutorial.jp/help">Rails Tutorial help page</a>.
				To get help on this sample app, see the
				<a href="http://railstutorial.jp/book"><em>Ruby on Rails Tutorial</em> book</a>.
				</p>
			</div>
			</div>
	</div>
	</div>