
<header class="jumbotron">
	<div class="container">
		<div class="row">
		<div class="text-center">
			<div class="header-content">
            <div class="header-content-inner">
                <h3 id="homeHeading">Your Favorite Source of Free Bootstrap Themes</h3>
                <hr width="50%" class="light">
                <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
				</h2>
				<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
        	</div>
			</div>
		</div>
		</div>
	</div>
</header>

<section class="bg-primary" id="about">
	<div class="container">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2 text-center">
		<h1 class="section-heading">Welcome to the Sample App</h1>
		<hr width="50%" >
		<h2 class="text-faded">
			tadariina
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-default btn-xl sr-button" %>
	</div>
	</div>
	</div>
</section>

<section id="contact">
	<div class="container">
	<div class="row">
	<div class="col-lg-8 col-lg-offset-2 text-center">
		<h2 class="section-heading">Contact Us</h2>
		<hr width="50%" class="light">
		<p>himekawayuki</p>
	</div>
	<div class="col-lg-4 col-lg-offset-2 text-center">
		<i class="fa fa-phone fa-3x sr-contact"></i>
		<p>123-456-6789</p>
	</div>
	<div class="col-lg-4 text-center">
		<i class="fa fa-envelope-o fa-3x sr-contact"></i>
		<p><a href="mailto:qeubec1111@gmail.com">qeubec1111@gmail.com</a></p>
	</div>
	</div>
	</div>
</section>



