<% provide(:title, 'test') %>

<h1>W2v#newaaaa</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :theme %>
      <%= f.text_field :theme %>

      <%= f.submit "考える", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>